/*--
/*  2.3 - Comment CSS
/*----------------------------------------*/

// Comment Wrapper 
.commtent-wrapper{

    & .comment-title{}
}

// Comment Box
.comment-box{
    margin-top: 50px;
}

// Comment Items
.commtent-items{}

// Comment Reply
.commtent-reply{
    padding-left: 105px;

    @media #{$large-mobile}{
        padding-left: 0;
    }
}

// Single Coment 
.single-comment{
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #e1e1e1;

    @media #{$small-mobile}{
        display: block;
    }

    & .comment-author{
        flex-shrink: 0;

        & img{
            width: 75px;
            border-radius: 50%;
        }
    }
    & .comment-content{
        flex-grow: 1;
        padding-left: 30px;

        @media #{$small-mobile}{
            padding-left: 0;
            padding-top: 25px;
        }

        & .name{
            font-size: 16px;
            font-weight: 700;
        }
        & p{
            margin-top: 5px;
        }
        & .meta{
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            color: $primary;

            & > * {
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }
            }

            & a{
                &:hover{
                    color: $heading-color;
                }
            }
            
            & .date{}
            & .reply{}
        }       
    }
}

// Comment Form
.comment-form{
    margin-top: 50px;
}


