/*--
/*  4.22 - Contact CSS
/*----------------------------------------*/

// Contact Info Wrapper
.contact-info-wrapper{
    margin-top: -30px;

    & .row{
        & [class*="col-"]{
            &:last-child{
                & .single-contact-info{
                    &::before{
                       display: none;
                    }
                }
            }
        }
    }
}

// Single Contact Info 
.single-contact-info{
    text-align: center;
    position: relative;
    padding: 0 30px;
    margin-top: 30px;

    &::before{
        position: absolute;
        content: '';
        width: 1px;
        background-color: #d7d7d7;;
        top: 20px;
        bottom: 20px;
        right: 0;
    }

    & .info-icon{
        & i{
            font-size: 55px;
            line-height: 1;
            color: $primary;
        }
    }
    & .info-content{
        padding-top: 12px;

        & .title{
            font-size: 18px;
            font-weight: 700;            
            margin-bottom: 5px;
        }
        & p{
            font-size: 15px;
        }
    }
}

// Contact Form Wrapper
.contact-form-wrapper{
    padding-top: 20px;
}

// Contact Map
.contact-map-area{
    & #contact-map {
        width: 100%;
        height: 400px;
    }
}