/*--
/*  4.21 - Login & Register CSS
/*----------------------------------------*/

// Login & Register Wrapper
.login-register-wrapper{
    margin-top: -50px;
}

// Login & Register Box
.login-register-box{
    border: 1px solid #eeeeee;
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px;
}

// Login & Register Form
.login-register-form{

}








